/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Estilos para o rodapé */
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 10px 0;
    color: #333;
    font-size: 14px;
  }
  
  /* Estilos específicos para cada página */
  
  /* Estilos para a página de início */
  #inicio {
    margin-top: 50px;
  }
  
  #inicio h1 {
    font-size: 24px;
  }
  
  /* Estilos para os botões */
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para os campos de entrada e labels */
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    font-size: 16px;
  }
  
  input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  